main-color = #ffa500
info-color = #de6d72
link-color = #f16066
navbar-color = #f16066
btn-color = #f46b71
text-def-color = #d9d9d9
text-main-color = #333
btn-text-color = #fff
btn-focus-color = #f16066
form-color = #f16066
btn-primary-color = #f16066
tab-color = #f16066
text-color = #666

// 漫画通用样式
@import '~@/assets/mixins/manga.styl'

.topUpList li.active span
  color #fff
