inp()
  padding 5px 10px
  color #666

.suggest
  padding 0 20px
  position absolute
  background #fff
  left 0
  right 0
  bottom 0
  top 0
  margin-top 110px
  .form_box
    .form_item
      label
        display block
        color #333
        font-size 38px
        padding 10px 0 10px 10px
      input
        inp()
        height 70px
    .content
      inp()
      min-height 250px
  .prompt_txt
    font-size 30px
    color #eb2727