.c_state
  background main-color
.comic_desc .tabBar .active a
  color main-color
  border-bottom 5px solid main-color
.update_time ul li.active
  a
    color main-color
  &:after
    border-color main-color
.rankingList .rank_item span.active
  color main-color
.icon_back
  border-color main-color !important
.link_span
  color link-color
.tips_info
  color link-color
.btn_color
  border-color btn-color !important
.btn_def
  background btn-color
  cursor pointer
  //line-height 80px
.btn_radius
  border-radius 50px
.icon_fill
  border-color btn-color
//covered
body
  color text-color
.userBox
  &.signup
    background info-color
  .userLogo
    background info-color
.mint-radio-input:checked+.mint-radio-core
  background-color link-color !important
  border-color link-color !important
//navbar
.top_bar.bg
  background navbar-color !important
.top_logo
  color main-color
  //#e19416
//column
.push_column
  .push_txt .push_title
    border-color main-color !important
  .push_more
    color main-color
    &:after
      border-color main-color !important
.mint-button.btn_def.is-plain
  color btn-color
  opacity 1
  background transparent !important
.mint-button:not(.is-disabled):active:after
  opacity .4
.topUpList li.active
  background tab-color !important
  box-shadow 0 0 10px tab-color