.c_state
  background main-color

.top_bar.def_bar
  background #fff

.top_bar.bg, .bottom_bar
  background navbar-color

.comic_desc .tabBar .active a
  color main-color
  border-bottom 5px solid main-color

.update_time ul li.active
  a
    color main-color
  &:after
    border-color main-color

.rankingList .rank_item span.active
  color main-color

.link_span
  color link-color

.tips_info
  color link-color

.btn_color
  border-color btn-color !important

.btn_def
  background btn-color
  color btn-text-color
  cursor pointer
  height 80px
  line-height 80px

.btn_primary
  background navbar-color
  color #fff
  cursor pointer

.btn_radius
  border-radius 50px

.icon_fill
  border-color btn-color

body
  color text-color

.userBox
  &.signup
    background info-color

.mint-radio-input:checked+.mint-radio-core:after
  background-color transparent
  border-color #fff
  -webkit-transform rotate(45deg) scale(1)
  transform rotate(45deg) scale(1)

.mint-radio-core:after
  border 5px solid transparent
  border-left 0
  border-top 0
  content ' '
  top 5px
  left 12px
  position absolute
  width 10px
  border-radius 0
  height 18px
  -webkit-transform rotate(45deg) scale(0)
  transform rotate(45deg) scale(0)
  -webkit-transition -webkit-transform .2s
  transition -webkit-transform .2s
  transition transform .2s
  transition transform .2s, -webkit-transform .2s

.mint-radio-input:checked+.mint-radio-core, .mint-checkbox-input:checked+.mint-checkbox-core, .mint-switch-input:checked+.mint-switch-core
  background-color form-color
  border-color form-color

.chapterBox .lock
  background navbar-color

.top_logo
  color main-color

// column
.push_column
  .push_txt .push_title
    border-color main-color !important
  .push_more
    color main-color
    &:after
      border-color main-color !important

.mint-button.btn_def.is-plain
  color btn-color
  opacity 1
  background transparent !important

.mint-button:not(.is-disabled):active:after
  opacity .4

// 分享
.shareLink .mint-cell-wrapper
  border-color btn-color

// 充值
.recharge_txt
  color text-def-color
  span
    &:first-child
      color text-main-color

.recharge_box
  input
    box-shadow 0 0 5px #ddd
    &:focus
      border-color btn-focus-color
      box-shadow 0 0 5px btn-focus-color

.topUpList li
  border 1px solid #ddd
  & span
    color text-def-color
    &:first-child
      color text-main-color
  &.active
    background tab-color
    // border-color tab-color
    box-shadow 0 0 10px tab-color
    border 1px solid tab-color
    & span
      color link-color
      &:first-child
        // color link-color
        font-weight bold

// 表单
.form_item
  margin-bottom 30px
  position relative
  .mint-cell
    background transparent
  input, textarea
    width 100%
    border 0 none
    background transparent
    padding 0 15px
    font-size 30px
    padding-left 80px
    height 85px
    outline 0 none
    color #999
    transition all .4s ease
    border-bottom 1px solid #ddd
    // border-radius 45px
    // box-shadow 0 0 15px #ddd
    -webkit-appearance none
    &:focus
      border-bottom-color btn-focus-color
      // box-shadow 0 0 10px #4bc461
      // border-radius 1px

// new_detl
.book_tool
  width 40%
  text-align center
  font-size 30px
  cursor pointer