@import '~x/css/base.styl'

.shareLink
  background info-color

.form_item
  .form_icon
    input
      border 6px solid btn-color
    &.phone .phoneCode
      border 6px solid btn-color
      &>span
        border-right 5px solid btn-color