//@import '../../css/common.styl'
main-color = #ba88c6
info-color = #b883ce
link-color = #9057a7
navbar-color = #a673ba
btn-color = #a673ba
tab-color = #a673ba
text-color = #666

@import '../../mixins/manga.styl'