main-color = #f29b18
info-color = #40A9FF
link-color = #f29b18
navbar-color = #40A9FF
btn-color = #40A9FF
btn-text-color = #fff
btn-focus-color = #40A9FF
form-color = #40A9FF
btn-primary-color = #e27195
text-main-color = #333
text-def-color = #ccc
tab-color = #f29b18
text-color = #666