main-color = #f29b18
info-color = #de6d72
link-color = #f29b18
navbar-color = #40A9FF
btn-color = #40A9FF
btn-text-color = #fff
btn-focus-color = #40A9FF
form-color = #40A9FF
btn-primary-color = #e27195
text-main-color = #333
text-def-color = #ccc
tab-color = #f29b18
text-color = #666

// 漫画通用样式
@import '~@/assets/mixins/manga.styl'
.back
  top 10%

.topUpList li.active span
  color #fff
