main-color = #FF8EB3
info-color = #FF8EB3
link-color = #FF8EB3
navbar-color = #FF8EB3
btn-color = #FFE6EE
text-def-color = #d9d9d9
text-main-color = #333
btn-text-color = #FF8EB3
btn-focus-color = #FF8EB3
form-color = #FF8EB3
btn-primary-color = #e27195
tab-color = #FFE6EE
text-color = #666